{% extends "base.html" %}

{% block content %}
<div class='article'>
    <div class="post-title">
        <h2>{{ article.title }}</h2>
    </div>
    <div class="post-date">
        {{ article.date }} | 类别 :
        {% for category in article.category %}
            {{ category }}
        {% endfor %}
    </div>
    <div class="post-body">
        {{ article.content|safe }}
    </div>
</div>
<div class="post-meta">
    {% if 'tag' in article %}
    <span class="post-meta-item-text">标签 :
    {% for tag in article.tag %}
        {{ tag }}
    {% endfor %}
    </span>
    {% endif %}
</div>
<div class="prenex">
    <div class="previous">
        {% if previous == '' %}
        <a href="{{ words.sitename }}">{{ '已经是第一篇了' }}</a>
        {% else %}
        <a href="{{ words.sitename }}/post/{{ previous.title }}.html">{{ previous.title }}</a>
        {% endif %}
    </div>
    <div class="nexts">
        {% if next == '' %}
        <a href="{{ words.sitename }}">{{ '已经是最后一篇了' }}</a>
        {% else %}
        <a href="{{ words.sitename }}/post/{{ next.title }}.html">{{ next.title }}</a>
        {% endif %}
    </div>
</div>
{% endblock %}