{% extends "base.html" %}

{% block content %}
<div class='cateitem'>分类</div>
<div class='categroies'>
    {% for categroy in categroies %}
    <span class="categroy {{ 'current' if categroy == cate else '' }}"><a href="{{ words.sitename }}/categories/{{ categroy | lower }}.html">{{ categroy }}</a></span>
    {% endfor %}
</div>
<div>
    <ul>
        {% for article in articles %}
        <li class='post'><span class='date'>{{ article.date[0:10] if 'date' in article else '' }}</span>&emsp;<span class='title'><a href="{{ words.sitename }}/post/{{ article.title }}.html">{{ article.title }}</a></span></li>
        {% endfor %}
    </ul>
</div>
{% include 'pagination.html' %}
{% endblock %}