{% if pag.count and pag.total_record > 0 %}
<div class="pagination">
		<span class="prev total">共{{ pag.total_record }}篇</span>
		<span class="prev first"><a href="{{ SITEURL }}/index.html">首页</a></span>
        {% if pag.current_page > 2 %}
            <span class="prev"><a href="{{ SITEURL }}/index{{ pag.current_page - 1  }}.html">上一页</a></span>
		{% elif pag.current_page == 2 %}
		    <span class="prev"><a href="{{ SITEURL }}/index.html">上一页</a></span>
        {% else %}
            <span class="prev disabled"><a href="#">上一页</a></span>
        {% endif %}
		{% if pag.page_total < pag.range_num*2 + 1 %}
            {% for num in range( 1, 1+pag.page_total ) %}
                <span class="{{ 'active' if num == pag.current_page else '' }}"><a href="{{ SITEURL }}/index{{ num if num > 1 else '' }}.html">{{ num }}</a></span>
        {% endfor %}
		{% elif pag.current_page > pag.range_num and pag.current_page < pag.page_total - pag.range_num +1 %}
            {% for num in range( pag.current_page-pag.range_num, 1+pag.current_page+pag.range_num ) %}
                <span class="{{ 'active' if num == pag.current_page else '' }}"><a href="{{ SITEURL }}/index{{ num if num > 1 else '' }}.html">{{ num }}</a></span>
            {% endfor %}
		{% elif pag.current_page > pag.page_total - pag.range_num %}
            {% for num in range( pag.page_total-pag.range_num*2, 1+pag.page_total ) %}
                <span class="{{ 'active' if num == pag.current_page else '' }}"><a href="{{ SITEURL }}/index{{ num if num > 1 else '' }}.html">{{ num }}</a></span>
            {% endfor %}
		{% else %}
            {% for num in range( 1, 2+pag.range_num*2 ) %}
                <span class="{{ 'active' if num == pag.current_page else '' }}"><a href="{{ SITEURL }}/index{{ num if num > 1 else '' }}.html">{{ num }}</a></span>
            {% endfor %}
		{% endif %}	
        {% if pag.current_page < pag.page_total %}
            <span class="next"><a href="{{ SITEURL }}/index{{ pag.current_page + 1 }}.html">下一页</a></span>
        {% else %}
            <span class="next disabled"><a href="#">下一页</a></span>
        {% endif %}
		<span class="next end"><a href="{{ SITEURL }}/index{{ pag.page_total if pag.page_total!=1 else '' }}.html">末页</a></span>
</div>
{% endif %}